
.c1{
    background-color: #f9f9f9;
    width: 100%;
    height: 300px;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
}
.title{
    /*background-color: #f9f9f9;*/
    width: 100%;
    height: 50px;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 30px ;
    font-weight: 300
}
.c2{
    width: 100%;
    height: 300px;
    color: black;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap : 20px
}
.c2-item{
    /*background-color: #f9f9f9;*/
    width: 100%;
    height: 300px;
    color: black;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    align-items: center;
    flex-direction: column;
}