.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.menu-sticky {
    position: fixed;
    top: 64px; /* Điều chỉnh giá trị này tùy thuộc vào chiều cao của header của bạn */
    left: 0;
    height: calc(100% - 64px); /* Điều chỉnh chiều cao menu theo ý muốn của bạn */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá kích thước menu */
    z-index: 1; /* Đảm bảo menu hiển thị trên các thành phần khác */
}

.footer-sticky {
    position: sticky;
    bottom: 0;
    z-index: 100;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    margin-top: auto
}
.custom-menu .ant-menu-item-selected,
.custom-menu .ant-menu-item-active {
    background-color: transparent !important;
    color: inherit !important;
}
